$bar-height = 15vh

.route-activity
   .info
       font-size: 28pt;
       width: auto;
       margin: 0 0.1em;
       .position
           padding-right: 0.2em;
           .position-current
               color: #DDDDDD
           .position-total
               color: #888888

   #content
      display: block;
      position: relative;
      height: (100vh - $bar-height);
      .image-content
        padding: 2em;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;

   #bottom-bar
      background: #111111;
      width: 100%;
      text-align: center;
      position: relative;
      top: 0;
      left: 0;
      height: $bar-height;
      min-height: $bar-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: 2px solid #444;

      .bar-container
          display: flex;
          margin: auto;
      .control-bar
          margin: 1em;
          position: absolute;
          right: 0;
          button
            margin: 0 0.2rem;
            height: 5rem;
            padding: 1.5rem;

      .progress-bar
         top: 0;
         width: 100%
         color: #28a745;
         position: absolute;
         height: .5em;
         background: transparent;
         border: 0;
         -moz-transition: all 4s ease;
         -moz-transition-delay: 1s;
         -webkit-transition: all 4s ease;
         -webkit-transition-delay: 1s;
         transition: all 4s ease;
         transition-delay: 1s;
         &::-moz-progress-bar
             background: #28a745;
         &::-webkit-progress-value
             background: #28a745;


.route-activity-finished
  padding: 2rem;
