/* This file is for your main application css. */
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

@import "./phoenix.css";
@import "./routes.styl";
@import "./components.styl";
@import "./alerts.styl";

body
   height: 100vh;
   margin: 0;
   background: #181a1b;
   color: #DDDDDD;
   font-family: 'Helvetica', 'Arial', sans-serif;
   font-size: 1.6em;
   font-weight: 300;
   line-height: 1.6;
   overflow: hidden

html, body, input, textarea, select, button
    border-color: #736b5e;
    color: #e8e6e3;

svg
   display: block;
   width: auto;
   height: auto;
